<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="MTIPCSMPlugin"
        name="MTIP Plugin"
        version="1.0.9"
        provider-name="MTIP"
        class="org.aero.mtip.MTIPCSMPlugin">

    <requires>
        <api version="1.2"/>
    </requires>

    <runtime>
        <library name="MTIPCSMPlugin.jar"/>
    </runtime>
</plugin>
